# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# === How to use a variable in a .py scrit ===
# import os
# from dotenv import load_dotenv
# load_dotenv()
# GCP_PROJECT_ID = os.getenv('GCP_PROJECT_ID')
#
# === Another way ===
# find .env automagically by walking up directories until it's found, then
# load up the .env entries as environment variables
# load_dotenv(find_dotenv())
# GCP_PROJECT_ID = os.getenv('GCP_PROJECT_ID')

# === General ===

# === Database ===
